<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600796880195-felu6jfrhlam6qniasq44aih4m8edib5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600796880195-felu6jfrhlam6qniasq44aih4m8edib5</string>
	<key>API_KEY</key>
	<string>AIzaSyD7cAzUtofdU5Kb2W9naa_LAGiw2vpuOoI</string>
	<key>GCM_SENDER_ID</key>
	<string>600796880195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bboxx.BBOXX-iOS</string>
	<key>PROJECT_ID</key>
	<string>bboxx-7533d</string>
	<key>STORAGE_BUCKET</key>
	<string>bboxx-7533d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600796880195:ios:f6e1da333b0abefdbd63f6</string>
</dict>
</plist>